.player{
    column-count:2;
    height:4vh;
}
.player.above{
    padding-top:4px;
    margin-bottom: -3px;
}
.player.below{
    margin-top:-1px;
}
.player.below .captures{
    margin-top:-6px;
}
.player .name{
    clear:both;
    text-align: right;
    padding-right:4px;
    line-height:3vh;
}
.player .captures{
    float:left;
    margin-top:-5px;
}
.player .score{
    float:left;
    margin-left:5px;
    margin-top:2px;
    font-size:10pt;
}
.player .captures svg{
    position:static;
    height:4vh;
    width:4vh;
    transform:none;
    margin-top:0;
    margin-bottom:-11px;
}
.player.white .captures span{
    padding-bottom: 7px;
}
.player .captures .p svg:first-child{
    padding-left:4px;
}
.player .captures .p svg{
    margin-left:-8px;
    margin-right:-5px;
}
.player .captures .n{
    margin-left: 2px;
    margin-right: 1px;
}
.player .captures .n svg{
    margin-left: -6px;
    margin-right: -3px;
}
.player .captures .b svg{
    margin-left: -7px;
    margin-right: -4px;
}
.player .captures .r svg{
    margin-left: -6px;
    margin-right: -5px;
}
.player .captures .q svg{
    margin-bottom:-10px;
    margin-left: -2px;
    margin-right: 0px;
}