.game-nav-buttons{
    text-align: center;
}
.game-nav-buttons > img{
    background-color:white;
    padding:4px 8px;
    border-radius:4px;
    cursor:pointer;
    margin-right:2px;
}
.game-nav-buttons > img:hover{
    outline:2px solid #FC0;
}
.game-nav-buttons > img.disabled{
    background-color:grey;
    outline:none;
}