.cgame > .pieces-taken {
    margin-left:7px;
    text-align:left;
    height:24px;
    line-height: 24px;
    position:relative;
}
.cgame > .pieces-taken > span {
    line-height: 24px;
    display:inline-block;
    position:absolute;
    top:1px;
    font-size:14px;
}
.cgame > .pieces-taken > .piece {
    height:100%;
    margin-left:-9px;
}
.cgame > .pieces-taken > .piece[data-type="p"], .cgame > .pieces-taken > .piece[data-type="P"]  {
    margin-left:-11px;
}
.chess > .controls > #autoplay {
    margin-bottom: 10px;
    display:none;
}
.chess > .controls > #autoplay > img{
    background-color:white;
    padding:2px 4px;
    border-radius:4px;
    cursor:pointer;
}
.chess > .controls > #autoplay > img:hover{
    outline:2px solid #FC0;
}
.chess > .controls > #autoplay > img#play{
    display: none;
}